.hero-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.hero {
  height: 85vh;
  max-width: 1200px;
  /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  padding: 0 20px 30px;
}

.hero-title {
  font-size: 8.5rem;
  line-height: 9rem;

  margin-bottom: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: #030026;
  font-weight: bold;
}

.hero-text {
  font-size: 24px;
  color: #666;
}

.video-container {
 width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: top center;
  transition: transform 0.2s linear;
}

.full-screen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero-button i {
  padding-left: 10px;
}

.button-2 {
  touch-action: manipulation;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;

  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  -webkit-tap-highlight-color: transparent;
}

.button-2:focus {
  outline-style: solid;
  outline-color: transparent;
}

.button-2 {
  touch-action: manipulation;
  margin: 20px;
  cursor: pointer;
}

.button-2 {
  touch-action: manipulation;
  border: 1px solid #1182df;
  border-radius: 50px;
  padding: 10px 32px;
  background-color: #1182df;
  background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent),
    radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
  box-shadow:
    inset 0 0 2px 1px rgba(255, 255, 255, 0.2),
    0 1px 4px 1px rgba(17, 110, 231, 0.2),
    0 1px 4px 1px rgba(0, 0, 0, 0.1);
  color: #080808;
  text-shadow: 0 1px 1px #1182df;
  transition: all 0.3s ease;
  font-size: 20px;
}

.hero-button:hover {
  scale: 1.04;
}

.button-2:active {
  border-color: #0048d5;
  size: 0.9;
  background-color: #1182df;
}

.char {
  display: inline-block;
  opacity: 1;

  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .hero-title {
    line-height: 7rem;
    font-size: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 75vh;
  }

  .hero-title {
    line-height: 80px;
    font-size: 75px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .hero-text {
    font-size: 18px;
  }

  .button-2 {
    padding: 8px 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  .hero-container {
    height: 100vh;
  }
  .hero {
    height: 450px;
  }
  .hero-title {
    line-height: 50px;
    font-size: 2.3rem;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .hero-text {
    font-size: 16px;
  }

  .video-container {
    width: 100%;
    height: 210px;
    overflow: hidden;
    transform-origin: top center;
    transition: transform 0.2s linear;
  }

  .full-screen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
